<h3>Editar campanha</h3>
<div class="ui-g ui-fluid" *ngIf="banner != null">
  <div class="ui-g-12 ui-lg-3"></div>
  <div class="ui-g-12 ui-lg-6 form-group">
    <form [formGroup]="editBannerForm" class="ui-g-12 ui-lg-12">
        <!--Company Information Card-->
        <div class="card card-w-title">
            <h1>Informações da Campanha {{banner.type == 'WELCOME' ? 'Welcome' : banner.type == 'PROMO' ? 'Promoção' : 'Lançamento'}}</h1>
            <div class="ui-g form-group">
                <div class="ui-g-12 ui-md-6">
                    <span class="md-inputfield">
                        <input type="text" formControlName="bannerTitle" name="bannerTitle" pInputText>
                        <label>Titulo</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <span class="md-inputfield">
                        <input type="text" formControlName="actionUrl" name="actionUrl" pInputText>
                        <label>Url de Direcionamento</label>
                    </span>
                </div>
                <div class="ui-g-12 ui-md-6">
                    <span class="md-inputfield">
                        <textarea [rows]="5" [cols]="30" formControlName="text" name="text" [autoResize]="true" placeholder="Descreva as informações da campanha" pInputTextarea></textarea>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div class="ui-g-12 ui-lg-12">
      <div class="card card-w-title">
        <h1>Agendamento da Publicação</h1>
        <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-4">
                <p-checkbox binary="true" [(ngModel)]="hasStartDate" label="Definir uma data de início" (onChange)="handleStartDate($event)"></p-checkbox>
            </div>
            <div class="ui-g-12 ui-md-8" *ngIf="!hasStartDate">
                <span class="md-inputfield">
                    <span>A campanha será publicada imediatamente</span>
                </span>
            </div>
            <div class="ui-g-12 ui-md-8" *ngIf="hasStartDate">
              <p-calendar id="datetime" showIcon="true" dateFormat="dd/mm/yy" showTime="true" placeholder="{{currentStartDate == null ? 'Escolha a data' : currentStartDate | date:'dd/MM/yyyy HH:mm'}}" (onSelect)="handleStartDateSelected($event)"></p-calendar>
            </div>
            <div class="ui-g-12 ui-md-4">
                <p-checkbox binary="true" [(ngModel)]="hasEndDate" label="Definir uma data de fim" (onChange)="handleEndDate($event)"></p-checkbox>
            </div>
            <div class="ui-g-12 ui-md-8" *ngIf="!hasEndDate">
                <span class="md-inputfield">
                    <span>A campanha ficará ativa até uma desativação manual</span>
                </span>
            </div>
            <div class="ui-g-12 ui-md-8" *ngIf="hasEndDate">
              <p-calendar id="datetime" showIcon="true" dateFormat="dd/mm/yy" showTime="true" placeholder="{{currentEndDate == null ? 'Escolha a data' : currentEndDate | date:'dd/MM/yyyy HH:mm'}}" (onSelect)="handleEndDateSelected($event)"></p-calendar>
            </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6">
            <button pButton type="text" (click)="cancel()" icon="fa-close" iconPos="left" label="Cancel" class="ui-button-danger"></button>
        </div>
        <div class="ui-g-6">
            <button pButton type="text" (click)="saveForm()" icon="fa-check" iconPos="right" label="Save" class="ui-button-success" [disabled]="!editBannerForm.valid || !isScheduleValid"></button>
        </div>
    </div>
  </div>
  <div class="ui-g-12 ui-lg-3"></div>
</div>